       <% if(typeof navbar !== "undefined" && navbar === true){ %>} 
        <nav class="bottom-nav">
          <a href="/map" class="nav-item">
            <img src="/img/map.png" alt="Map">
          </a>

          <a href="/events" class="nav-item">
            <img src="/img/ticket.png" alt="Events">
          </a>

          <a href="/" class="nav-item">
            <img src="/img/post.png" alt="Home">
          </a>

          <a href="/dashboard" class="nav-item">
            <img src="/img/user.png" alt="Dashboard">
          </a>
        </nav>
        <% } %>
                
        <% if(typeof parkName !== 'undefined') { %>
        <script>
            const latitude = <%- JSON.stringify(latitude) %>;
            const longitude = <%- JSON.stringify(longitude) %>;
            const trees = <%- JSON.stringify(trees) %>;
            const shelter = <%- JSON.stringify(shelter) %>;
            const parkName = <%- JSON.stringify(parkName) %>;
        </script>
        <script src="/js/shade.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <% } %>


  <% js.forEach(file =>{ %>
    <script src="/js/<%= file %>"></script>
  <% }) %>
</body>
</html>