<%- include('partials/header', { title: title, css: css }) %>

<div class="page-container">
  <% if (success) { %>
    <div class="alert success-alert">
      Post submitted successfully!
    </div>

    <script>
      setTimeout(function () {
        document.querySelector(".success-alert").style.display = "none";
      }, 3000);
    </script>
  <% } %>
  <h2><strong>All Posts</strong></h2><br>

  <form method="get" action="/posts" class="search-bar">
    <input 
      id="searchInput"
      type="text" 
      name="search" 
      placeholder="Search by location or activities"
      value="<%= search %>"
    >

    <select id="envSelect" name="environment">
      <option value="">All environments</option>
      <option value="shaded" <%= env === "shaded" ? "selected" : "" %>>Shaded</option>
      <option value="sunny" <%= env === "sunny" ? "selected" : "" %>>Sunny</option>
      <option value="indoors" <%= env === "indoors" ? "selected" : "" %>>Indoors</option>
    </select>
  </form>

  <% if (posts.length === 0) { %>
    <p>No posts found.</p>
  <% } %>

  <div class="posts-grid">
    <% posts.forEach(post => { %>
      <div class="post-card">
        <img src="/uploads/<%= post.image %>" class="post-image">

        <div class="post-info">
          <p><strong>User:</strong> <%= post.username %></p>
          <p><strong>Location:</strong> <%= post.location %></p>
          <p><strong>Description:</strong> <%= post.description %></p>
          <p><strong>Environment:</strong> <%= post.environment %></p>
          <p class="timestamp"><%= post.createdAt ? post.createdAt.toLocaleString() : 'Date unknown' %></p>
        </div>
        <div class="like-bar">
          <button class="like-btn" data-id="<%= post._id %>">
          👍 <span><%= post.likes || 0 %></span>
          </button>

          <button class="dislike-btn" data-id="<%= post._id %>">
          👎 <span><%= post.dislikes || 0 %></span>
          </button>
        </div>
      </div>
    <% }) %>
  </div>

  <div class="pagination" id="paginationContainer">
    <% if (page > 1) { %>
      <a 
        href="/posts?page=<%= page - 1 %>&search=<%= search %>&environment=<%= env %>" 
        class="page-btn"
      >
        Previous
      </a>
    <% } %>

    <span class="page-number">Page <%= page %> of <%= totalPages %></span>

    <% if (page < totalPages) { %>
      <a 
        href="/posts?page=<%= page + 1 %>&search=<%= search %>&environment=<%= env %>" 
        class="page-btn"
      >
        Next
      </a>
    <% } %>
  </div>

</div>

<%- include('partials/footer', { js: js }) %>